* {
  --primary-color: #F7F7F8;
  --secondary-color: #07A850;
  --tertiary-color: #07D264;
  --quaternary-color: #202557;
  --fifth-color: #0646B2;
}

.navbar {
  background-color: var(--fifth-color);
}

.nav-link {
  color: var(--primary-color);

}
.navbar-brand img {
  width: 50%;
  height: auto;
  filter: drop-shadow(0px 0px 1px var(--primary-color));
}